<div class="tip text-info">
    温馨提示：服务已结束或已过期的不能添加服务备注
</div>
<div ng-hide="vm.serviceStatus == 3 || vm.status != 1">
    <form name="remarkForm">
        <textarea class="form-control remark-content" ng-model="vm.remark" placeholder="请输入备注内容" name="remark"  id="" cols="30" rows="3" required maxlength="300">

        </textarea>
        <div ng-if="vm.remarkSubmited">
            <div class="text-danger" ng-if="remarkForm.remark.$error.required">服务备注必填</div>
            <div class="text-danger" ng-if="remarkForm.remark.$error.maxlength">服务备注不能超过300字符</div>
        </div>
    </form>

    <div class="radio">

        <div class="hidden"><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"></div>
        <span class="text-danger">（服务备注客户不可见，需要客户可见的请添加服务记录）</span>

    </div>

    <button class="btn btn-info" ng-click="vm.addServiceRemark(remarkForm.$valid)" ng-disabled="vm.serviceStatus == 3 ">提交服务备注</button>
</div>
<div class="mt20">
    <h4>最新服务备注:</h4>
    <div class="mt20">
        <ul>
            <li class="remark-list" ng-repeat="remark in vm.serviceRemark">
                <img class="list-avatar" ng-if="!remark.avatarUrl" ng-src="static/img/xw_ic_avatar_default.png" alt="">
                <img class="list-avatar" ng-if="remark.avatarUrl" ng-src="{{remark.avatarUrl}}" alt="">
                <div class="list-info">
                    <div class="name" >{{remark.nickname}}</div>
                    <div class="time">{{remark.createTime | date: 'yyyy-MM-dd HH:mm:ss'}}</div>
                </div>
                <div class="list-content col-xs-8 col-md-9 col-lg-9" >
                    {{remark.text}}
                </div>
            </li>
        </ul>
    </div>
</div>

<!--分页-->
<div class="row">
    <div class="col-lg-4 " style="line-height:34px;margin: 20px 0;">
        总数{{vm.totalRemarkCount}}条 共{{numPages}}页
    </div>
    <div class="col-lg-2" style="line-height:34px;text-align: right;margin: 20px 0;">
        <span >每页{{vm.pageSize}}条</span>
    </div>
    <div class="col-lg-6 col-sm-6 col-md-7">
        <nav class="xw-pagination-container">
            <uib-pagination previous-text="上一页" next-text="下一页" max-size="10" rotate="false" num-pages="numPages" total-items="vm.totalRemarkCount" items-per-page="vm.pageSize" ng-model="vm.remarkCurrentPage" ng-change="vm.pageGetServiceRemarklist()"></uib-pagination>
        </nav>
    </div>
</div>
