<section class="">
    <ol class="breadcrumb ">
        <li ><a ui-sref="index.main.business">我的业务</a></li>
        <li >完善信息</li>
    </ol>
</section>

<div class="">

    <!--转店完善信息-->
    <div ng-include="'views/partial/improvePost/transferImprove.html'"></div>
    <!--找店完善信息-->
    <div ng-include="'views/partial/improvePost/sitingImprove.html'"></div>
    <!--招聘完善信息-->
    <div ng-include="'views/partial/improvePost/recruitmentImprove.html'"></div>
    <!--消费完善信息-->
    <div ng-include="'views/partial/improvePost/reservationImprove.html'"></div>

    <div class="cle"></div>
</div>
