<section class="">
    <ol class="breadcrumb ">
        <li>限额规则</li>
    </ol>
</section>
<div class=" limit-policy">
    <h3>领取业务的条件是什么？</h3>
    <div><ul>
        <li>必须获得身份认证。</li>
    </ul></div>
    <div class="hr" ></div>
    <h3>怎么提高可保护的业务限额？</h3>
    <div><ul>
        <li>进行专业认证，比如转店认证、找店认证等。</li>
        <li>提高业务成交量，达到铜银金勋章要求。</li>
    </ul></div>
    <div class="hr" ></div>
    <h3>业务限额的设置条件是什么？</h3>
    <div><ul>
        <li>
            限额数量：1个<br>
            要求：身份认证</li>
        <li>
            限额数量：3个<br>
            要求：转店、找店、招聘、消费四个业务认证</li>
        <li>
            限额数量：5个<br>
            要求：转店、找店、招聘、消费四个业务铜牌勋章</li>
        <li>
            限额数量：10个<br>
            要求：转店、找店、招聘、消费四个业务银牌勋章</li>
        <li>
            限额数量：15个<br>
            要求：转店、找店、招聘、消费四个业务金牌勋章</li>
    </ul></div>
    <div class="hr" ></div>
    <h3>怎么获得铜牌、银牌、金牌？</h3>
    <div><ul>
        <li>提高业务成交数量，就可以得到。</li>
        <li>消费业务<br>
            铜牌：150业务成交量<br>
            银牌：200 业务成交量<br>
            金牌：400 业务成交量</li>
        <li>招聘业务<br>
            铜牌：75 业务成交量<br>
            银牌：150 业务成交量<br>
            金牌：300 业务成交量</li>
        <li>转让业务<br>
            铜牌：50 业务成交量<br>
            银牌：100 业务成交量<br>
            金牌：200 业务成交量</li>
        <li>找店业务<br>
            铜牌：50  业务成交量<br>
            银牌：100 业务成交量<br>
            金牌：200 业务成交量</li>
    </ul></div>
    <div class="hr" ></div>
    <h3>未获得专业认证，但拿到业务铜牌，可保护的业务限额是多少？</h3>
    <div><ul><li>5个</li></ul></div>

</div>
